
<h1>{{name}}</h1>

<form [formGroup]="theForm" (ngSubmit)="submit()">
  <input formControlName="name" /><span [hidden]="!theForm.controls['name'].errors">Name is required</span>
  <br/>
  <input formControlName="age" />
  <div  [hidden]="!theForm.controls['age'].errors">
    <span *ngIf="theForm.controls['age'].errors?.min">Leeftijd te laag</span>
    <span *ngIf="theForm.controls['age'].errors?.max">Leeftijd te hoog</span>
  </div>
  <br/>
  <button [disabled]="!theForm.valid" type="submit">Post</button>
</form>
